.map-container{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    overflow: hidden;

    .map{
        position: absolute;
        top: 0;
        left: 0;
        // transform: translate(-50%, -50%);
        width: calc(514 * 4.5px);
        // width: 2000px;
        height: calc(385 * 4.5px);
        // height: 1500px;
        background-image: url('../../../../public/map-tk.webp');
        background-color: #000000;
        background-size: contain;
        overflow: hidden;
    }

    .map:active {
        cursor: grabbing;
    }
}



